@import '~bootstrap/scss/bootstrap';
@import './config.scss';

@font-face {
    font-family: 'Biennale Regular';
    font-weight: normal;
    font-style: normal;
    src: url('../public/fonts/BiennaleRegular.otf') format('opentype');
}

html{
    height: 100%;
}

body{
    height: 100%;
    font-family: 'Biennale Regular';
}

#__next{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    padding: 0;
}

input {
    font-size: 14px;
    letter-spacing: 0.01em;
    color: $primaryColor;

    outline: none;

    &::placeholder{
        color: $mediumGreyColor;
        opacity: 1;
    }

    &:-ms-input-placeholder{
        color: $mediumGreyColor;
    }

    &::-ms-input-placeholder{
        color: $mediumGreyColor;
    }
}

.error{
    text-align: center;
    color: $errorColor;
    font-weight: bold;
}

@import './login.scss';

