$primaryColor: #ED1164;
$secondaryColor: #91A3AD;
$lightGreyColor: #FFEBF24D;
$mediumGreyColor: #91A3AD;
$mediumGreyColorOpacity: #91A3AD1C;
$darkGreyColor: #575757;
$errorColor: #F73005;

$mediaQueryDesktop: 954px;