@import './config.scss';

.container-footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-top: none;

    span{
        display: none;
    }

    button{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 48px;
        border-radius: 12px;
        background-color: $mediumGreyColorOpacity;
        width: 96%;
        border: none;
        outline: none;
        color: $primaryColor;
        padding: 0px 15px;
        

        img{
            margin-right: 15px;
        }
    }

    @media screen and (min-width: $mediaQueryDesktop) {
       
    }
}