@import './config.scss';

.container-login {
    .logo {
        width: 178px;
        display: block;
        margin: auto;
        margin-bottom: 47px;
    }

    .form{
        .input {
            display: flex;
            padding: 10px;
            margin-bottom: 10px;

            img {
                width: 18px;
                height: 18px;
                margin-right: 18px;
                margin-top: 3px;
            }

            input {
                width: 224px;
                border-radius: 0px;
                border-top-width: 0px;
                border-left-width: 0px;
                border-right-width: 0px;
                border-bottom: 1px solid $mediumGreyColor;

                padding-bottom: 8px;

                &:focus{
                    border-bottom-color: $primaryColor;
                }
            }
        }

        button{
            width: 100%;
            height: 56px;
            background-color: $primaryColor;
            border: none;
            color: white;
            border-radius: 12px;
            font-size: 16px;
            margin-top: 20px;
        }
    }

    @media screen and (min-width: $mediaQueryDesktop) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .logo{
            width: 40%;
            margin: 0px;
        }

        .form {
            border: 1px solid $primaryColor;
            border-radius: 32px;
            padding: 80px 40px;
            margin-left: 5%;

            .input{
                img{
                    width: 22px;
                    height: 22px;
                }
                input{
                    width: 343px;
                    font-size: 16px;
                }
            }

            button{
                font-size: 18px;
            }
        }
    }
}